<h2>Can you estimate these dishes too?</h2>

<table>
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <% @meal_records.each do |meal_record| %>
      <tr>
        <td><%= link_to image_tag(meal_record.photo.url(:medium)), edit_meal_record_path(meal_record, easy_mode: true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
