.autocomplete-suggestions {
  background: #FFF;
  cursor: default;
  overflow: auto;
  border: 1px solid white;

  .autocomplete-suggestion {
    padding: 15px 10px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #eee;

    strong {
      font-weight: bold;
      color: #000;
    }
  }

  .autocomplete-no-suggestion { padding: 15px 10px;}

  .autocomplete-selected { background: #F0F0F0}

  .autocomplete-group {
    padding: 2px 5px;

    strong {
      font-weight: bold;
      font-size: 16px;
      color: #000;
      display: block;
      border-bottom: 1px solid #000;
    }
  }
}
