.food-picker{

  .input-autocomplete{
    @extend .form-control;
  }

  .food-picker-foods{
    @extend .list-group;

    li{
      @extend .list-group-item;

      position: relative;
      overflow: hidden;
      .btn.pull-right{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: none;
        border-left: 1px #ddd solid;
        border-radius: 0;
      }
    }
  }

}


.meal_record_fat_secret_ingredients{
  &.focus{
    background: white;

    position: fixed;
    top: 0; bottom: 0;
    left: 20px; right: 20px;
    margin: 0;
    padding-top: 20px;

    .hidden{
      display: block !important;
      visibility: visible !important;
      margin-bottom: 10px;
    }
  }
}




.spoiler{
  margin-bottom: 10px;

  .spoiler-message{
    display: none;
    padding: 10px;
    text-align: center;

    background: whitesmoke;
  }

  &.hide-content{
    .spoiler-message{
      display: block;
    }
    .form-group{
      display: none;
    }
  }
}
