  body{
    padding: 0;
  }

  .section-title{
    padding: 10px 5px;
    font-size: 10px;
  }

  .meal-records{
    padding: 5px;

    &.meal-records-carb-1{
      background-color: lightgreen;
    }
    &.meal-records-carb-2{
      background-color: lightyellow;
    }
    &.meal-records-carb-3{
      background-color: rgb(255, 127, 127);
    }
  }

  .meal-container{
    padding: 5px;
    box-sizing: border-box;
    display: block;
    float: left;
    margin: auto;

    .meal{
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid rgb(239, 242, 230);
      box-shadow: 0px 0px 0px 3px white;

      img{
        display: block;
        width: 100%;
      }
    }

    &:first-child:last-child{
      float: none;

      &.meal-size-1{
        margin-top: 50px;
        margin-bottom: 50px;
      }
      &.meal-size-2{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    &.meal-size-1{
      height: 25%;
      width: 25%;

      img{
        -webkit-transform: scale(3);
      }
    }

    &.meal-size-2{
      height: 50%;
      width: 50%;

      img{
        -webkit-transform: scale(2);
      }
    }

    &.meal-size-3{
      height: 100%;
      width: 100%;

      img{
        -webkit-transform: scale(1.2);
      }
    }

  }

  .meal.meal-carb-1{
    border-color: lightgreen;
  }
  .meal.meal-carb-2{
    border-color: lightyellow;
  }
  .meal.meal-carb-3{
    border-color: rgb(255, 127, 127);
  }
